<footer class="main-footer">
      <!-- <strong>Copyright &copy; {% now "Y" %}, <a href="https://portfolio-shivansh.surge.sh">Le Journal de bord</a>.</strong> 
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <b>Le journal de bord</b>
      </div> -->
    </footer>