<footer class="main-footer">
      <!-- <strong>Copyright &copy; {% now "Y" %}, <a href="#">Le journal de bord</a>.</strong> 
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <b></b>
      </div> -->
    </footer>